# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
*node_modules
*catalogo.json
*start.html

# testing
/coverage

# production
/build

# misc
.DS_Store

