.logo{
    height: 9rem;
    width: 17rem;
    display: block; 
    transition: all .3s;
    cursor: pointer;
}
.line{
    border-top: 2px solid $color-brown-dark-1;
    width: 3rem;
}

.icon{
    height: 9rem;
    width: 100%;
    display: block;
}